<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Redirect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="{{styleSheetUrl}}" crossorigin="anonymous" nonce="{{scriptNonce}}" />
</head>

<body>
    <div id="vnf-wallet-selection" data-deeplink="{{deeplink}}" data-automode></div>
    <script src="{{scriptUrl}}" nonce="{{scriptNonce}}"></script>
</body>

</html>